<!-- Jumbotron -->
<div class="card card-image rounded-0" style="background-color: #7f53ac; background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);">
  <div class="text-white text-center rgba-stylish-strong py-0 px-4">
  
    <div class="py-0">

      <!-- Content -->
      <% if user_signed_in? %>
        <h2 class="card-title h2 my-4 py-2">Welcome, <%= current_user.first_name %> !</h2>
      <% else %>
        <h2 class="card-title h2 my-4 py-2">Welcome, dear visitor !</h2>
      <% end %>
      
    </div>
  </div>
</div>
<!-- Jumbotron -->



<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Secret page", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>
