<!-- Jumbotron -->
<div class="card card-image rounded-0" style="background-color: #63d471; background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);">
  <div class="text-white text-center rgba-stylish-strong py-0 px-4">
    <div class="py-0">
      <!-- Content -->
      <% if signed_in? %>
        <h2 class="card-title h2 my-4 py-2">Amend your event, <%= current_user.first_name %></h2>
      <% else %>
        <h2 class="card-title h2 my-4 py-2">Amend your event, anonymous</h2>
      <% end %>
    </div>
  </div>
</div>
<!-- Jumbotron -->

<% flash.each do |type, msg| %>
  <div class="<%= flash_class(type) %> mt-1 py-1"><%= msg %></div>
<% end %>

<% if @event.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
        <%= form_for @event do |f| %>
          <div class="form-group">
              <%= f.label :start_date, "Date" %><br />
              <%= f.date_field :start_date, class: "form-control" %>
          </div>

          <div class="form-group">
              <%= f.label :duration, "Duration" %><br />
              <%= f.text_field :duration, autocomplete: "duration", class: "form-control" %>
          </div>

          <div class="form-group">
              <%= f.label :title, "Title" %><br />
              <%= f.text_field :title, autocomplete: "title", class: "form-control" %>
          </div>

          <div class="form-group">
              <%= f.label :description, "Description" %><br />
              <%= f.text_area :description, autocomplete: "description", class: "form-control" %>
          </div>

          <div class="form-group">
              <%= f.label :price, "Price" %><br />
              <%= f.text_field :price, autocomplete: "price", class: "form-control" %>
          </div>

          <div class="form-group">
              <%= f.label :location, "Location" %><br />
              <%= f.text_field :location, autocomplete: "location", class: "form-control" %>
          </div>

          <%= submit_tag "Modify event", class: "btn btn-info btn-sm" %>
        <% end %>

    </div>
  </div>
</div>